<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csv" class="ru.otus.homework.settings.xml.cvs.CSVWorkImpl">
        <property name="fileName" value="questions.csv"/>
    </bean>

    <bean id="personDAO" class="ru.otus.homework.settings.xml.dao.PersonDAOImpl"/>
    <bean id="personTestDAO" class="ru.otus.homework.settings.xml.dao.PersonTestDAOImpl">
        <constructor-arg name="workCSV" ref="csv"/>
    </bean>

    <bean id="personService" class="ru.otus.homework.settings.xml.service.PersonServiceImpl">
        <constructor-arg name="personDAO" ref="personDAO"/>
        <constructor-arg name="personTestDAO" ref="personTestDAO"/>
    </bean>
</beans>